# Copy this file and rename it to .env
# Then fill in your values

# LOCAL MongoDB
MONGO_URI=mongodb://localhost:27017/societynotice

# OR Atlas (cloud) — paste your Atlas connection string here
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/societynotice

# Secret key for JWT — change this to anything long and random
JWT_SECRET=mySuperSecretKey_ChangeThis_2024

# Port
PORT=5000
